extends ../../includes/layout-auth

block content
  nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    div.navbar-header
      div.brand-wrapper
        // Brand
        div.brand-name-wrapper
          a.navbar-brand.topnav(href="/") #{title}

  div.container.container-main(role="main")
    div.password-container
      form.form-horizontal.bs-form.form-password.card#passwordForm(action="?", method="post", role="form")
        input#recordid(type="hidden", name="id", value=params.id)
        input#recordtype(type="hidden", name="type", value=params.usertype)
        input#csrf(type="hidden", name="_csrf", value=csrfToken)
        input(type="hidden", name="redirecturl", value=url)

        h2.form-signin-heading Change Password
        
        label(for="oldpassword") Old Password
        input.form-control#oldpassword(name="oldpassword", type="password", maxlength="25", required autofocus)

        label(for="newpassword") New Password
        input.form-control#newpassword(name="newpassword", type="password", maxlength="25", required)

        label(for="confirmpassword") Confirm Password
        input.form-control#confirmpassword(name="confirmpassword", type="password", maxlength="25", required)

        div.form-actions
          button.btn.btn-primary.btn-block(type="submit") Update
          a.btn.btn-secondary.btn-block(href=url, role="button") Cancel

        div.clearfix